/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */
/* html {
  font-size: 62.5%;
} */
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}
.formDiv {
  color: black;
  border: 1px solid rgb(105, 98, 98);
  border-radius: 5px;
  font-size: 0.8rem;
  margin-top: 20px;
}
